<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/libs/js/bootstrap-3.3.4.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/select2_lh.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/page.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/htmlCss.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/windowCss.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/libs/simditor/simditor.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/libs/layer/css/layui.css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/js/bootstrap-3.3.4.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/layer/layui.all.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/js/nav.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/js/public.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/simditor/module.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/simditor/hotkeys.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/simditor/uploader.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/simditor/simditor.js"></script>
    <title>安排治疗</title>
    <style type="text/css">
    label .error {
        color: #F00;
    }
    </style>
</head>

<body>

    <div class="">
        <div role="tabpanel" class="tab-pane fade in active">
            <!--顶部栏目标题-->

            <!--内容-->
            <div class="Inner">
                <div class="box boxShow">
                    <form class="form-inline" action="" method="POST" id='addFrom' enctype="multipart/form-data">
                        <table class="tablelist">
                            <tr class="typeList">
                                <td class="lftTit">治疗医院</td>
                                <td class="rgtInfo">
                                    <i></i>
                                    <input type="text" name="hospital"  class="text input270" />
                                </td>
                            </tr>
                            <tr class="typeList">
                                <td class="lftTit">计划问诊时间</td>
                                <td class="rgtInfo">
                                    <i></i>
                                    <input type="text" name="stime"  class="text input270" id="stime" />
                                    (2018-1-1 12:00:00 )格式
                                    <!-- <button type="button" class="layui-btn" id="stime1">选择</button> -->
                                </td>
                            </tr>
                            <tr class="typeList">
                                <td class="lftTit">描述</td>
                                <td class="rgtInfo">
                                    <i></i>
                                    <textarea name="descrip" style="width:500px;height:100px;"></textarea><br>
                                    (255字以内包含标点)
                                </td>
                            </tr>
                        </table>
                        <div class="flexed mar_t20">
                            <button type="submit" style="margin: auto;" class="mar_r20 btn sLan170Btn txtShadow"><em class="queDing"></em>保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
function date(elem) {    
    lay(elem+'1').on('click', function(e){ //假设 sign_start1 是一个按钮
      layui.use('laydate', function() {
        var laydate = layui.laydate;
        laydate.render({
          elem: elem
          ,type: 'datetime'
          ,format: 'yyyy-MM-dd HH:mm:ss'
          ,show: true //直接显示
          ,closeStop: elem+'1' //这里代表的意思是：点击 test1 所在元素阻止关闭事件冒泡。如果不设定，则无法弹出控件
        });
      })
    });
}
date('#stime');
</script>
</html>