<!DOCTYPE html>
<html>

<head>
    <title>专家列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/libs/js/bootstrap-3.3.4.css" />
    <!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/BeatPicker.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/select2_lh.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/page.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/htmlCss.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/windowCss.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/libs/layer/css/layui.css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/js/bootstrap-3.3.4.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/laydate/laydate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/js/nav.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/js/public.js"></script>
</head>

<body>

    <div class="">
        <div role="tabpanel" class="tab-pane fade in active">
            <!------顶部栏目标题-------->
            <div class="secondTxt mgb30">
                <form class="form-inline" action="" method="post">
                    <div class="form-group select120 mar_r12">
                        <label for="species">特长：</label>
                        <select name="specialty" class="task10-main-box-row2-select form-control select2" id="species">
                            <option value="0">所有</option>
                            {foreach name="cal" item="vo"}
                                <option value="{$vo['id']}"
                                {if condition="$vo['id'] == $map['specialty']"}
                                    selected="selected" 
                                {/if}
                                >{$vo[0]}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="form-group dateBtn select120 mar_r12 ">
                        <label for="time">排班时间：</label>
                        <select name="weeks" class="task10-main-box-row2-select form-control select2" id="species">
                            <option value="0">所有</option>
                            {foreach name="weeks" item="value"}
                                <option value="{$key}"
                                {if condition="$key == $map['weeks']"}
                                    selected="selected" 
                                {/if}
                                >{$value}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="form-group  dateBtn select120 mar_r12   ">
                    <button type="submit" class="btn  sLv120Btn  mar_r12"><i class=" chaXunShaiXuan"></i>查询</button>
                </div>
                </form>
            </div>
            <!--内容-->
            <div class="Inner">
                <div class="box boxShow">
                    <!--表格列表-->
                    <table class="csTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>头像</th>
                                <th>登录名</th>
                                <th>姓名</th>
                                <th>专长</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach name="data" item="vo"}
                                <tr>
                                    <td> <input type="radio" name="choice"  value="{$vo.id}" 
                                        {if condition ="$vo.id eq $eid"}
                                            checked
                                        {/if}
                                        > </td>
                                    <td><img src="{$vo.avatar}" width="70"></td>
                                    <td>{$vo.name}</td>
                                    <td>{$vo.nickname}</td>
                                    <td><?php echo config('cal')[$vo['specialty']-1];?></td>
                                    <td>
                                      <a class="btn2 bianJiBtn" onclick="show_schedule({$vo.id})">排班表</a>
                                    </td>
                                </tr>
                            {/foreach}
                        <tr><td colspan="6"><button  class="btn  sLv120Btn  mar_r12 choice">确认</button></td></tr>
                        </tbody>
                    </table>
                    <!--右对齐-->
                    <div class="nav_a clear_b">
                        <span class="mar_l15"><em class="cor_b"><i class="cor_pad"></i></em></span>
                        <div class="nav_c nav_right">
                            {$page}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</body>
<script type="text/javascript">
    function show_schedule(id) {
        //var id = $('this').attr('data');
        $.ajax({    
            type: 'POST',   
             dataType: "json", 
             url: '{:url('Experts/showSchedule')}',    
             data: {id : id},
             success: function(json) {
                if (json.status == 0) {
                    html = '';
                    html +="<table  class=\'csTable\' cellspacing=\'0\'>";
                        html +="<tbody>";
                    $.each(json.data, function(index, val) {
                        html +="<tr>";
                            html +="<td align=\'center\'>"+ val.weeks+"</td>";
                            html +="<td align=\'center\'>"+ val.time_stemp+"</td>";
                        html +="</tr>";
                    });
                        html +="</tbody>";
                    html +="</table>";
                        layer.open({
                            type:1,
                            fixed: true,
                            scrollbar: false,
                            title: '排班表',
                            zIndex: layer.zIndex,
                            area: ['400px', '300px'],
                            shadeClose: true,
                            resize: false,
                            content: html
                        });  
                }else{
                    layer.msg(json.msg,
                        {icon: 1,time: 2000 }
                    );
                }
             }    
        });  
    };
    $('.choice').click(function(){
        var eid = $("input[name='choice']:checked").val();
        var uid = {$uid};
        $.ajax({
            url: '{:url('Experts/choice')}',
            type: 'POST',
            dataType: 'json',
            data: {uid : uid,eid : eid},
            success:function(json){
        
                layer.msg(json.info,
                        {icon: 1,time: 2000 }
                    );
        
            }
        });
        console.log(eid)
    })
</script>
</html>