<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/libs/js/bootstrap-3.3.4.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/select2_lh.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/common.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/page.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/htmlCss.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/windowCss.css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/js/bootstrap-3.3.4.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/libs/layer/layer.js"></script>
    </head>
<body>
<div class="pad_10">
    <div class="table-list">
        <input type="hidden" name="rank" id="rank" value="<?php echo count($rule_data);?>">
        <table  class="csTable" cellspacing="0">
            <thead>
                <tr>
                    <th >排名</th>
                    <th >总奖金的百分比</th>
                    <th >操作</th>
                </tr>
            </thead>
            <tbody>
                <volist name="rule_data" id="v">
                    <tr>
                        <td align="center">{$v['rank']}</td>
                        <td align="center">
                            <input type="text" value="{$v['reward']/10}" name="reward{$v['id']}">

                        </td>
                        <td align="center"> 
                            <if condition="(count($rule_data)-1) == $key">
                                <span style="cursor: pointer;" data="{$v['id']}" class="save_data">删除</span>
                            </if>
                        </td>
                    </tr>
                </volist>
            </tbody>
        </table>
        <div style='padding-left: 38%;'>
            <button style="width: 100px;height: 33px;" type="button" class="btn btn-primary add">添加</button>
                <button style="width: 100px;height: 33px;" type="button" class="btn btn-primary submit">确认</button>
            </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var match_id = <?php echo I('id');?>;
    $('.add').click(function() {
        var rank = parseInt($('#rank').val()) + 1;
        var tr = `<tr>
                <td align="center">`+rank+`</td>
                <td align="center">
                    <input type="text" value="" name="reward`+rank+`">
                </td>
                <td align="center"> <span style="cursor: pointer;" data="`+rank+`" class="save_data">删除</span></td>
            </tr>`;
        $('#rank').val(rank);
        $('tbody .save_data').remove();
        $('tbody').append(tr);
    })
    $('tbody').on('click', '.save_data', function() {
        var  rank = parseInt($('#rank').val())-1;
        $(this).parents('tr').remove();
        $('tbody tr').last().find('td').last().append('<span style="cursor: pointer;" data="'+rank+'" class="save_data">删除</span>');
        $('#rank').val(rank);
    })
$('.submit').click(function(){
    var data = [];
    $('tbody').find('tr').each(function(){
        var rank = $(this).find('td').eq(0).text();
        var reward = $(this).find('input').val();
        data[rank]=reward;
    })
    $.ajax({
        type: "post",
        url: "/index.php?m=Admin&c=match&a=change_json",
        data: { data: data,match_id,match_id},
        cache: false,
        dataType: "json",
        success: function(json) {
            if (json.status == 0) {
                top.layer.msg(json.info,
                    {icon: 1,time: 2000 }
                );
            }else{
                top.layer.msg(json.info,
                    {icon: 2,time: 2000 }
                );
            }
        }
    })
})
</script>

</html>