<!DOCTYPE html>
<html lang="en" class="te6_size">
<head>
    <title>特牛对战平台-首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/Public/front/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="/Public/front/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/Public/front/js/layer/skin/mySkin/mySkinStyle.css"/>
    <link rel="stylesheet" type="text/css" href="/Public/front/css/te6_style.css"/>

    <script type="text/javascript" src="/Public/front/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/Public/front/js/layer/layer.js"></script>
    <script type="text/javascript" src="/Public/front/js/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="/Public/front/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/Public/front/js/te6_script.js"></script>
</head>
<body class="te6_size">
<div class="te6_cSize2">
    <div class="overflow">
        <a class="te6_btn te6_btnFm te6_fanHuiBtn" onclick="window.parent.urlback();"><i></i><span>返回</span></a>
        <a class="te6_btn te6_btnFm te6_cSXinBtn2" onclick="refreshPage();"><i></i><span>刷新</span></a>
    </div>
    <div class="te6_jCDiv">
        <div class="te6_jCLogo"><img src="<?php echo $detail['img_detail'];?>" alt="<?php echo $detail['name']; ?>"/></div>
        <div class="te6_jCTable">
            <p class="te6_jCTableP"><?php echo $detail['name']; ?></p>
            <p class="te6_tableP"><span><?php echo config('game_type')[$detail['game_type']]; ?></span><span><?php echo config('play_type')[$detail['play_type']]; ?></span><span><?php echo $detail['times']; ?>局</span></p>
            <table class="te6_table">
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>比赛时间  ：</td>
                    <td><?php echo date('Y-m-d H:i', $detail['start_time']) . ' -- ' . date('Y-m-d H:i', $detail['end_time']); ?></td>
                </tr>
                <tr>
                    <td>结算时间 ：</td>
                    <td><?php echo date('Y-m-d H:i', $detail['balance_time']); ?></td>
                </tr>
            </table>
        </div>
        <div class="te6_jCMain">
            <p class="te6_jCMainTitle">当前奖池</p>
            <p class="te6_swMoney"><em>¥</em><span><?php echo sprintf('%.2f',(intval($detail['base_price']) + (intval($detail['cost'])) / 100.0 * intval($detail['now_join']) * intval($detail['add_price'])) / 100.0); ?></span></p>

            <?php
                $detail['status'] = intval($detail['status']);
                $detail['is_sign'] = isset($detail['is_sign']) ? intval($detail['is_sign']) : 0;
                if ($detail['status'] == 2 || $detail['status'] == 3) {
                    if ($detail['is_sign'] == 1) {
            ?>
            <a class="te6_jcBMBtn" data-status="10"><span>进行中</span></a>
            <?php
                    } else {
                        if (time() < $detail['start_time']) {
            ?>
            <a class="te6_jcBMBtn" data-status="1"><span>还未开始</span></a>
            <?php
                        } else {
                            if (intval($detail['cost']) > 0) {


            ?>
            <a class="te6_jcBMBtn" data-status="2"><em>¥ <?php echo sprintf('%.2f',(intval($detail['cost'])) / 100.0); ?></em><span>报名</span></a>
            <?php
                            } else {
            ?>
            <a class="te6_jcBMBtn" data-status="2"><span>免费报名</span></a>
            <?php
                            }
                        }
                    }
                } else if ($detail['status'] == 0) {
            ?>
            <a class="te6_jcBMBtn" data-status="0"><span>还未上架</span></a>
            <?php
                } else if ($detail['status'] == 1) {
            ?>
            <a class="te6_jcBMBtn" data-status="1"><span>还未开始</span></a>
            <?php
                } else if ($detail['status'] == 4) {
            ?>
            <a class="te6_jcBMBtn" data-status="4"><span>等待结算</span></a>
            <?php
                } else if ($detail['status'] == 5) {
            ?>
            <a class="te6_jcBMBtn" data-status="5"><span>比赛结束</span></a>
            <?php
                } else if ($detail['status'] == 6) {
            ?>
            <a class="te6_jcBMBtn" data-status="6"><span>已取消</span></a>
            <?php
                }
            ?>

            <p class="te6_jCMainNum">已报名人数：<?php echo $detail['now_join']; ?>/<?php echo $detail['join_num']; ?></p>
            <input type="hidden" value="0" id="bm-open-window"/>
            <input type="hidden" value="0" id="bm-open-window2"/>
        </div>
    </div>
    <div class="te6_cCenter">
        <div class="te6_cCTop">
            <ul class="te6_cCTUl">
            <?php
                if ($detail['rule']) {
                    $reward_count = (intval($detail['base_price']) + (intval($detail['cost'])) / 100.0 * intval($detail['now_join']) * intval($detail['add_price'])) / 100.0;
                    foreach ($detail['rule'] as $key => $val) {
                        switch ($val['rank']) {
                            case 1 : $rank_name = '冠军'; break;
                            case 2 : $rank_name = '亚军'; break;
                            case 3 : $rank_name = '季军'; break;
                            default: $rank_name = '第' . $val['rank'] . '名'; break;
                        }
                        echo '<li>' . $rank_name . '：' . sprintf('%.2f', intval($val['reward']) / 1000.0 * $reward_count) . '元人民币</li>';
                    }
                }
            ?>
            </ul>
            <p class="te6_cCTxt">*具体分配详情参见比赛奖励规则</p>
        </div>

        <div class="te6_cCenterM">
            <h2>简介</h2>
            <div><?php echo $detail['content']; ?></div>
            <h2>比赛规则</h2>
            <div><?php echo $detail['match_rule']; ?></div>
            <h2>奖励规则</h2>
            <div><?php echo $detail['price_rule']; ?></div>
<!--            <h2>队伍信息</h2>-->
<!--            <div>队长：sfffexpresss &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;队员：one two three；one two three；one two th</div>-->
            <h2 class="match_record" style="display:none;">游戏记录</h2>
            <div id="match_record_div" class="match_record" style="display:none;">
                <table class="te6_cCTable" style="width: 450px;">
                    <thead>
                    <tr>
                        <td style="width: 120px;">时间</td>
                        <td>排名</td>
                        <td>淘汰</td>
                        <td>积分</td>
                    </tr>
                    </thead>
                    <tbody id="match_record">

                    </tbody>
                </table>
            </div>
            <h2 class="match_rank" style="display:none;">排行榜</h2>
            <div id="match_rank_div" class="match_rank" style="display:none;">
                <table class="te6_cCTable te6_cCTable2">
                    <thead>
                        <tr>
                            <td>名次</td>
                            <td>昵称</td>
                            <td>总吃鸡</td>
                            <td>总淘汰</td>
                            <td>总积分</td>
                            <td>奖励</td>
                        </tr>
                    </thead>
                    <tbody id="match_data">

                    </tbody>
                </table>
                <div class="te6_cCTableDiv">
                    <table class="te6_cCTable te6_cCTable2">
                        <tbody id="match_data2">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="te6_bmTcDiv" style="display: none">
    <div class="te6_tc te6_bmTc">
        <!--报名2-->
        <div class="te6_bmDiv">
            <p class="te6_tcTableP"><?php echo $detail['name']; ?></p>
            <table class="te6_table">
                <tbody>
                <tr>
                    <td style="width: 210px">比赛时间</td>
                    <td><?php echo date('Y-m-d H:i', $detail['start_time']) . ' -- ' . date('Y-m-d H:i', $detail['end_time']); ?></td>
                </tr>
                <tr>
                    <td>玩法</td>
                    <td><?php echo config('game_type')[$detail['game_type']]; ?></td>
                </tr>
                <tr>
                    <td>模式</td>
                    <td><?php echo config('play_type')[$detail['play_type']]; ?></td>
                </tr>
                <tr>
                    <td>局数</td>
                    <td><?php echo $detail['times']; ?>局</td>
                </tr>
                <tr>
                    <td>报名费</td>
                    <td><?php echo intval($detail['cost']) > 0 ? sprintf('￥%.2f', intval($detail['cost']) / 100) : '免费报名';?></td>
                </tr>
                <tr>
                    <td>参赛账号</td>
                    <td id="steam-data"><?php echo $steamuser; ?></td>
                </tr>
                </tbody>
            </table>
            <div>
                <a class="te6_btn te6_btnYl te6_payMBtn match-bm-btn1" data-id="<?php echo $detail['id']; ?>"><span><?php echo intval($detail['cost']) > 0 ? '支付' : '报名';?></span></a>
            </div>
        </div>
    </div>
</div>

<!--支付宝扫一扫-->
<div id="saoma-baoming" style="display:none;">
    <div id="te6_bmSc">
        <div class="te6_bmSc te6_tc2">
            <div class="te6_divCenter">
                <p class="te6_tcTableP4">请在30分钟内完成支付</p>
                <div>
                    <div class="te6_ewmDiv">
                        <img id="pay-ewm" src="/Public/front/images/whiteewm.png" alt=""/>
                        <span class="te6_ewmSpan">
                            <em style="display: block;margin-bottom: 15px;">支付已超时</em>
                            <a class="te6_btn te6_btnBl te6_sXBtn match-bm-btn2" data-id="<?php echo $detail['id']; ?>"><span>刷新</span></a>
                        </span>
                    </div>
                </div>
                <div style="padding-top: 20px;">
                    <p class="te6_tcTableP5">支付方式</p>
                    <p class="te6_imgZF"><img src="/Public/front/images/zfb.png" /><span> | </span><img src="/Public/front/images/wxzf.png" /></p>
                </div>
                <div><a id="check-order" class="te6_btn te6_btnYl te6_zFBtn" data-id=""><span>我已支付</span></a></div>
            </div>
        </div>
    </div>
</div>

<!--报名成功-->
<div id="success-baoming" style="display:none;">
    <div class="te6_bmSc">
        <div class="te6_divCenter">
            <p class="te6_tcTableP2">报名成功</p>
            <div>请在<?php echo date('Y-m-d H:i', $detail['end_time']); ?>前完成<?php echo $detail['times']; ?>局<?php echo config('play_type')[$detail['play_type']]; ?></div>
            <div>参赛记录请前往个人中心-参赛历史中查询</div>
        </div>
    </div>
</div>

<div id="te6_bds1" style="display: none">
    <div class="te6_tc te6_bdsTc te6_bdsTc1" style="display: none">
        <p class="te6_bdsTcTitle">检测到当前登录帐号</p>
        <p class="te6_bdsTcTxt2" id="steam-nick-name"></p>
        <p class="te6_bdsTcTxt">如果这不是您的帐号，请您在Steam中选择更改用户 登录您的Steam帐号后点击刷新按钮。</p>
        <div>
            <a class="te6_btn te6_btnYl te6_bdsTcQRBtn" onclick="submitSteamInfoForBind();"><span>确定添加</span></a>
            <a class="te6_btn te6_btnBl te6_bdsTcSXBtn" onclick="getSteamInfo();"><span>刷新</span></a>
        </div>
    </div>

    <div class="te6_tc te6_bdsTc te6_bdsTc2" >
        <p class="te6_bdsTcTxt2" style="margin-top: 20px !important;">请登录Steam客户端完成添加</p>
        <p class="te6_bdsTcTxt" style="text-indent: 35px;line-height: 25px">为了您能够顺利参与比赛，请先添加您的Steam帐号。</p>
        <p class="te6_bdsTcTxt" style="text-indent: 35px;line-height: 25px">请勿关闭此窗口。启动Steam客户端并登录，回到本页面完成添加。</p>
        <!-- <div>
            <a class="te6_btn te6_btnYl te6_bdsTcQRBtn"><span>正在登陆...</span></a>
        </div> -->
    </div>

    <input type="hidden" value="" id="user-steam-id"/>
    <input type="hidden" value="" id="user-steam-name"/>
</div>
<script>
    var check_bind_success_for_match_detail = 0;

    $(function () {
        getMatchRankData();
        getMatchRecord();
    });

    function getMatchRankData () {
        var match_id = '<?php echo $detail['id']; ?>';
        var status = '<?php echo $detail['status']; ?>';
        if (status < 4) { return false;}
        $.ajax({
            type       : "POST",
            url        : "{:url('/match/getmatchrank')}",
            data       : {"match_id":match_id,"username":$('#user-name', parent.document).val()},
            dataType   : "json",
            beforeSend : function(XMLHttpRequest){
            },
            error      : function(XMLHttpRequest, textStatus, errorThrown){
                layer.config({
                    extend: 'mySkin/mySkinStyle.css', //加载layer扩展样式
                    skin: 'layer-ext-mySkin'
                });
                layer.alert("网络错误!");
            },
            success    : function(data) {
                var html = '';
                var html2= '';
                if (!(data.data.user.id == undefined || data.data.user.id == '')) {
                    html += '<tr>' +
                            '   <td>我</td>' +
                            '   <td><img class="te6_cCTImg" src="' + data.data.user.avatar + '">' + data.data.user.pubg_name + '</td>' +
                            '   <td>' + data.data.user.sum_chicken + '</td>' +
                            '   <td>' + data.data.user.sum_kill + '</td>' +
                            '   <td>' + data.data.user.sum_score + '</td>' +
                            '   <td>' + (parseInt(data.data.user.reward) / 100).toString().fixed(2) + '元人民币</td>' +
                            '</tr>';
                }

                if (data.data.list.length > 0) {
                    $(data.data.list).each(function (i,n) {
                        if (n.rank <= 3) {
                            html += '<tr>' +
                                    '   <td>' + n.rank + '</td>' +
                                    '   <td><img class="te6_cCTImg" src="' + n.avatar + '">' + n.pubg_name +'</td>' +
                                    '   <td>' + n.sum_chicken +'</td>' +
                                    '   <td>' + n.sum_kill +'</td>' +
                                    '   <td>' + n.sum_score +'</td>' +
                                    '   <td>' + (parseInt(n.reward) / 100).toString().fixed(2) + '元人民币</td>' +
                                    '</tr>';
                        } else {
                            html2 += '<tr>' +
                                '   <td>' + n.rank + '</td>' +
                                '   <td><img class="te6_cCTImg" src="' + n.avatar + '">' + n.pubg_name +'</td>' +
                                '   <td>' + n.sum_chicken +'</td>' +
                                '   <td>' + n.sum_kill +'</td>' +
                                '   <td>' + n.sum_score +'</td>' +
                                '   <td>' + (parseInt(n.reward) / 100).toString().fixed(2) + '元人民币</td>' +
                                '</tr>';
                        }
                    });
                }

                $('#match_data').html(html);
                $('#match_data2').html(html2);

                if (html == '' && html2 == '') {
                    $('.match_rank').hide();
                } else {
                    $('.match_rank').show();
                }
            }
        });
    }

    function getMatchRecord () {
        var match_id = '<?php echo $detail['id']; ?>';
        $.ajax({
            type       : "POST",
            url        : "{:url('/match/getmatchrecord')}",
            data       : {"match_id":match_id,"username":$('#user-name', parent.document).val()},
            dataType   : "json",
            beforeSend : function(XMLHttpRequest){
            },
            error      : function(XMLHttpRequest, textStatus, errorThrown){
                layer.config({
                    extend: 'mySkin/mySkinStyle.css', //加载layer扩展样式
                    skin: 'layer-ext-mySkin'
                });
                layer.alert("网络错误!");
            },
            success    : function(data) {
                var html = '';

                if (data.data.length > 0) {
                    $(data.data).each(function (i,n) {
                        html += '<tr>' +
                                '   <td>' + n.start_time + '</td>' +
                                '   <td>' + n.rank +'</td>' +
                                '   <td>' + n.kill +'</td>' +
                                '   <td>' + n.score +'</td>' +
                                '</tr>';
                    });
                }

                $('#match_record').html(html);

                if (html == '') {
                    $('.match_record').hide();
                } else {
                    $('.match_record').show();
                }
            }
        });
    }

    $(".te6_jcBMBtn").click(function(e){
        match_sign()
    });
    function match_sign(){
        var status     = $(".te6_jcBMBtn").attr('data-status');
        var steam_user = $('#steam-data').html();
        var user_name  = $('#user-name', parent.document).val();

        if (status != 2) {
            return false;
        }

        if (user_name == "") {
            //layer.alert('您尚未登录，请先登录再报名哦', function () {
                layer.closeAll();
                $('.te6_upLine', parent.document).trigger("click");
            //});

            return false;
        }

        if (steam_user == "") {
            bindsteamuser();
            //$('#steam-data').html($('#user-steam-name').val());
        //     layer.alert('您的账号尚未绑定steam账号，不能进行报名哦！', {btn:['去绑定'], yes:function () {
        //         layer.close(layer.index);

        //         top.layer.open({
        //             title: '个人中心 ',
        //             type: 2,
        //             area: ['800px', '646px'],
        //             resize:false,
        //             content:['<?php echo url('/user/index'); ?>','no']
        //         });
        //     }});

            return false;
        }

        if ($('#bm-open-window').val() != 0) {
            return false;
        }

        $('#bm-open-window').val(1);

        $.ajax({
            type       : "POST",
            url        : "{:url('/user/checkloginstatus')}",
            data       : {"username":'<?php echo session("member.username"); ?>'},
            dataType   : "json",
            beforeSend : function(XMLHttpRequest){
            },
            error      : function(XMLHttpRequest, textStatus, errorThrown){
                layer.config({
                    extend: 'mySkin/mySkinStyle.css', //加载layer扩展样式
                    skin: 'layer-ext-mySkin'
                });
                layer.msg("网络错误！");
                $('#bm-open-window').val(0);
            },
            success    : function(data) {
                if (data.code == 1) {
                    $('#steam-data').html(data.data);

                    layer.open({
                        title: '报名',
                        type: 1,
                        area: ['600px', '456px'],
                        resize:false,
                        content:$("#te6_bmTcDiv")
                    });
                } else {
                    layer.msg(data.msg);

                    if (data.data.nologin == 1) {
                        $('.te6_upLine', parent.document).show();
                        $('.te6_onLine', parent.document).hide();
                    }
                }
                $('#bm-open-window').val(0);
            }
        });
    }
    function refreshPage () {
        parent.addUrlFlag = false;
        $('#main-iframe', parent.document).attr("src", '<?php echo url('/match/matchdetail') . '?match_id=' . $detail["id"];?>');
    }

    $(document).on('click', '.match-bm-btn1', function () {
        var steam_user = $('#steam-data').html();
        var match_id   = $(this).attr('data-id');

        if (steam_user == undefined || steam_user == "") {
            bindsteamuser();

            return false;
        }

        if ($('#bm-open-window2').val() != 0) {
            return false;
        }

        $('#bm-open-window2').val(1);

        if (match_id == 0 || match_id == undefined || match_id == "") {
            layer.msg('比赛信息错误，请单击刷新后重试！');
            return false;
        }

        $('.te6_ewmSpan').hide();

        $.ajax({
            type       : "POST",
            url        : "{:url('/match/sign')}",
            data       : {"match_id":match_id,"username":$('#user-name', parent.document).val()},
            dataType   : "json",
            beforeSend : function(XMLHttpRequest){
            },
            error      : function(XMLHttpRequest, textStatus, errorThrown){
                layer.config({
                    extend: 'mySkin/mySkinStyle.css', //加载layer扩展样式
                    skin: 'layer-ext-mySkin'
                });
                layer.msg("网络错误！");
                $('#bm-open-window2').val(0);
            },
            success    : function(data) {
                if (data.code == 200) {
                    $('#pay-ewm').attr("src","/qrcode.php?index=0&data=" + data.data.url);

                    $('#check-order').attr('data-id', data.data.orderNo);

                    var orderno = data.data.orderNo;

                    layer.closeAll();

                    layer.open({
                        title: '扫码支付',
                        type: 1,
                        area: ['600px', '490px'],
                        resize:false,
                        content:$("#saoma-baoming")
                    });

                    setTimeout(function () {
                        $(".te6_ewmSpan").show();
                        checkorder(orderno);
                    }, 30 * 60000);
                } else if (data.code == 0) {
                    // 免费报名成功
                    layer.closeAll();

                    layer.open({
                        title: '报名成功',
                        type: 1,
                        area: ['600px', '456px'],
                        resize:false,
                        content:$("#success-baoming"),
                        cancel:function () {
                            refreshPage ();
                        }
                    });
                } else {
                    layer.msg(data.msg);

                    if (data.data.nologin == 1 || (data.code == 1 && data.msg == '请先登录！')) {
                        $('.te6_upLine', parent.document).show();
                        $('.te6_onLine', parent.document).hide();
                    }
                }

                $('#bm-open-window2').val(0);
            }
        });
    });

    $(document).on('click', '.match-bm-btn2', function () {
        var steam_user = $('#steam-data').html();
        var match_id   = $(this).attr('data-id');

        if (steam_user == undefined || steam_user == "") {
            bindsteamuser();

            return false;
        }

        if (match_id == 0 || match_id == undefined || match_id == "") {
            layer.msg('比赛信息错误，请单击刷新后重试！');
            return false;
        }

        $.ajax({
            type       : "POST",
            url        : "{:url('/match/sign')}",
            data       : {"match_id":match_id,"username":$('#user-name', parent.document).val()},
            dataType   : "json",
            beforeSend : function(XMLHttpRequest){
            },
            error      : function(XMLHttpRequest, textStatus, errorThrown){
                layer.config({
                    extend: 'mySkin/mySkinStyle.css', //加载layer扩展样式
                    skin: 'layer-ext-mySkin'
                });
                layer.msg("网络错误！");
            },
            success    : function(data) {
                if (data.code == 200 || data.code == 1) {
                    $(".te6_ewmSpan").hide();
                    $('#pay-ewm').attr("src","/qrcode.php?index=0&data=" + data.data.url);

                    $('#check-order').attr('data-id', data.data.orderNo);

                    var orderno = data.data.orderNo;

                    setTimeout(function () {
                        $(".te6_ewmSpan").show();
                        checkorder(orderno, 0);
                    }, 30 * 60000);
                } else {
                    layer.msg(data.msg);

                    if (data.data.nologin == 1) {
                        $('.te6_upLine', parent.document).show();
                        $('.te6_onLine', parent.document).hide();
                    }
                }
            }
        });
    });

    $(document).on('click', '#check-order', function () {
        var order_no = $(this).attr('data-id');

        checkorder (order_no, 1);
    });

    function checkorder (order_no, operation) {
        $.ajax({
            type       : "POST",
            url        : "{:url('/match/checkorder')}",
            data       : {"orderno":order_no,"username":$('#user-name', parent.document).val()},
            dataType   : "json",
            beforeSend : function(XMLHttpRequest){
            },
            error      : function(XMLHttpRequest, textStatus, errorThrown){
                layer.config({
                    extend: 'mySkin/mySkinStyle.css', //加载layer扩展样式
                    skin: 'layer-ext-mySkin'
                });
                layer.msg("网络错误！");
            },
            success    : function(data) {
                if (data.code == 1) {
                    $('.te6_payZfb').hide();

                    layer.closeAll();

                    layer.open({
                        title: '报名成功',
                        type: 1,
                        area: ['600px', '456px'],
                        resize:false,
                        content:$("#success-baoming"),
                        cancel:function () {
                            refreshPage ();
                        }
                    });
                } else {
                    if (operation == 1) {
                        layer.msg(data.msg);
                    }

                    if (data.data.nologin == 1) {
                        $('.te6_upLine', parent.document).show();
                        $('.te6_onLine', parent.document).hide();
                    }
                }
            }
        });
    }

    function checkbindsuccess () {
        $.ajax({
            type       : "POST",
            url        : "{:url('user/checkbindsuccess')}",
            data       : {"username":$('#user-name', parent.document).val()},
            dataType   : "json",
            beforeSend : function(XMLHttpRequest){
            },
            error      : function(XMLHttpRequest, textStatus, errorThrown){
            },
            success    : function(data) {
                if (data.code == 1) {
                    window.clearInterval(check_bind_success_for_match_detail);

                    $("#steam-data").html(data.data);
                }
            }
        });
    }
function bindsteamuser () {
    layer.closeAll();
            _js_regnotify('{"owner":"","to":"te6box","body":{"method":"getSteamState","content":{}}}', function(data){
                var json = eval('(' + data + ')');
                if (json.errno == 0) {
                    if (json.data.state == 1) {
                        // 已经启动，进入绑定程序
                        $('.te6_bdsTc2').hide();
                        $('.te6_bdsTc1').show();

                        getSteamInfo ();
                        check_get_steaminfo = window.setInterval(function () {
                            getSteamInfo();
                        }, 500);

                        _index_user_index = layer.open({
                            title: '添加Steam账号',
                            type: 1,
                            area: ['420px', '310px'],
                            resize:false,
                            content:$("#te6_bds1")
                        });
                    } else{
                        // 未启动，进行调起
                        $('.te6_bdsTc1').hide();
                        $('.te6_bdsTc2').show();

                        _index_user_index = layer.open({
                            title: '添加Steam账号',
                            type: 1,
                            area: ['420px', '310px'],
                            resize:false,
                            content:$("#te6_bds1")
                        });

                        _js_regnotify('{"owner":"","to":"te6box","body":{"method":"startSteam","content":{}}}', function(data){
                            var json2 = eval('(' + data + ')');
                            if (json2.errno == 0) {
                                // 启动成功，等待进入
                                getSteamInfo ();
                                check_get_steaminfo = window.setInterval(function () {
                                    getSteamInfo();
                                }, 500);
                            } else {
                                // 启动不成功，等待玩家手动启动
                                checkSteamStart ();
                                check_steam_start = window.setInterval(function () {
                                    checkSteamStart();
                                }, 500);
                            }
                        });
                    }
                    // } else {
                    //     layer.alert('无法启动Steam客户端，请手动运行并登录后重试');
                    // }
                } else {
                    layer.alert('Steam启动检测失败，请重启游戏盒子后重试');
                }
            });
        }
    function checkSteamStart () {
            _js_regnotify('{"owner":"","to":"te6box","body":{"method":"getSteamState","content":{}}}', function(data){
                var json = eval('(' + data + ')');
                if (json.errno == 0) {
                    if (json.data.state == 1) {
                        // 检测到正在运行，则开始检测登录信息
                        window.clearInterval(check_steam_start);

                        getSteamInfo ();
                        check_get_steaminfo = window.setInterval(function () {
                            getSteamInfo();
                        }, 500);
                    }
                } else {
                    layer.alert('Steam启动检测失败，请重启游戏盒子后重试');
                }
            });
        }

        function getSteamInfo () {
            _js_regnotify('{"owner":"","to":"te6box","body":{"method":"getSteamRecentUseInfo","content":{}}}', function(data){
                var json = eval('(' + data + ')');
                if (json.errno == 0) {
                    window.clearInterval(check_get_steaminfo);

                    $('#user-steam-id').val(json.data.userid);
                    $('#user-steam-name').val(json.data.persona_name);
                    $('#steam-nick-name').html('“' + json.data.persona_name + '”');

                    $('.te6_bdsTc2').hide();
                    $('.te6_bdsTc1').show();
                }
            });
        }

        function submitSteamInfoForBind () {
            var steam_id   = $('#user-steam-id').val();
            var steam_name = $('#user-steam-name').val();

            if (steam_id == '' || steam_id == undefined) {
                layer.alert('还未检测到您登陆的Steam信息，请稍后');
                return false;
            }

            if (steam_name == '' || steam_name == undefined) {
                layer.alert('还未检测到您登陆的Steam信息，请稍后');
                return false;
            }

            $.ajax({
                type       : "POST",
                url        : "{:url('user/bindsteamuser')}",
                data       : {"username":$('#user-name', parent.document).val(), 'steamid':steam_id, 'steamname':steam_name},
                dataType   : "json",
                beforeSend : function(XMLHttpRequest){
                },
                error      : function(XMLHttpRequest, textStatus, errorThrown){
                },
                success    : function(data) {
                    layer.close(_index_user_index);
                    if (data.code == 1) {

                        layer.msg('添加成功');

                        $('#steam-bind').html(
                            '<span>' + steam_name + '</span>' +
                            '<a class="te6_btn te6_btnYl te6_jBBtn" onclick="unbindsteamuser();"><span>删除</span></a>'
                        );

                        $(parent.document.getElementById('main-iframe').contentWindow.document).find("#steam-data").html(steam_name);
                        match_sign()
                    }else{
                        layer.msg(data.msg);
                    }
                }
            });
        }
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d87523d9389dda0dd4e5acc81353d9c0";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>