
<if condition="in_array('Match/index', session('auth'))">	
	<li class="menuDiv active" role="presentation">
    	<a class="menuTitle" href="{:U('match/index')}">赛事列表</a>
	</li>
</if>
<if condition="in_array('Match/add', session('auth'))">	
	<li class="menuDiv" role="presentation">
	    <a class="menuTitle" href="{:U('match/add')}">赛事添加</a>
	</li>
</if>
<if condition="in_array('Match/match_type', session('auth'))">	
	<li class="menuDiv" role="presentation">
	    <a class="menuTitle" href="{:U('match/match_type')}">赛事类型</a>
	</li>
</if>
<if condition="in_array('Match/add_type', session('auth'))">	
	<li class="menuDiv" role="presentation">
	    <a class="menuTitle" href="{:U('match/add_type')}">赛事类型添加</a>
	</li>
</if>
<if condition="in_array('Match/banner', session('auth'))">	
	<li class="menuDiv" role="presentation">
	    <a class="menuTitle" href="{:U('match/banner')}">轮播图</a>
	</li>
</if>
<if condition="in_array('Match/banner_add', session('auth'))">	
	<li class="menuDiv" role="presentation">
	    <a class="menuTitle" href="{:U('match/banner_add')}">轮播图添加</a>
	</li>
</if>