<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/Public/Admin/libs/js/bootstrap-3.3.4.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/Public/Admin/css/BeatPicker.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/select2.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/select2_lh.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/page.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/htmlCss.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Admin/css/windowCss.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Admin/libs/simditor/simditor.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Admin/libs/layer/css/layui.css" />
    <script type="text/javascript" src="/Public/Admin/libs/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/Public/Admin/libs/js/bootstrap-3.3.4.js"></script>
    <!-- <script type="text/javascript" src="/Public/Admin/libs/layer/layer.js"></script> -->
    <script type="text/javascript" src="/Public/Admin/libs/layer/layui.all.js"></script>
    <!--  <script type="text/javascript" src="/Public/Admin/libs/laydate/laydate.js"></script> -->
    <script type="text/javascript" src="/Public/Admin/libs/js/nav.js"></script>
    <script type="text/javascript" src="/Public/Admin/libs/js/public.js"></script>
    <script type="text/javascript" src="/Public/Admin/libs/simditor/module.js"></script>
    <script type="text/javascript" src="/Public/Admin/libs/simditor/hotkeys.js"></script>
    <script type="text/javascript" src="/Public/Admin/libs/simditor/uploader.js"></script>
    <script type="text/javascript" src="/Public/Admin/libs/simditor/simditor.js"></script>
    <title>角色添加</title>
    <style type="text/css">
    label .error {
        color: #F00;
    }
    </style>
</head>

<body>
    <ul class="leftMenu nav nav-tabs" role="tablist">
        <li class="menuDiv active" role="presentation">
            <a class="menuTitle" href="{:Url('lst')}">权限列表</a>
        </li>
        <li class="menuDiv" role="presentation">
            <a class="menuTitle" href="javascript:;">角色添加</a>
        </li>
    </ul>
    <div class="main tab-content">
        <div role="tabpanel" class="tab-pane fade in active">
            <!--顶部栏目标题-->
            <div class="topTit flexed2">
                <span>角色添加</span>
            </div>
            <!--内容-->
            <div class="Inner">
                <div class="box boxShow">
                    <form action="" method="POST" enctype="multipart/form-data" id="user_add">
                        <table class="tablelist">
                            <tr class="typeList">
                                <td class="lftTit">角色名称：</td>
                                <td class="rgtInfo">
                                    <i></i>
                                    <input type="text" name="role_name" value="" class="text input270" />
                                </td>
                            </tr>
                            <tr class="typeList">
                                <td class="lftTit" width="150">权限分配：</td>
                                <td class="rgtInfo">
                                    <i></i>
                                    <?php foreach ($authData as $k => $v): ?>
                                    <?php echo str_repeat('&nbsp;', $v['level']*10);?>
                                    <input type="checkbox" name="auth_list[]" value="<?php echo $v['id'];?>" />
                                    <?php echo $v['auth_name'];?>
                                    <?php endforeach ?>
                                </td>
                            </tr>
                        </table>
                        <div class="flexed mar_t20">
                            <button type="submit" style="margin: auto;" class="mar_r20 btn sLan170Btn txtShadow"><em class="queDing"></em>保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>