<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>患者-我的近况</title>
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/css/patient.css">

</head>
<body>   
    {include file="../application/user/view/Index/header.html"}
    <!-- 内容 -->
    <div class="container">
        <div class="liastre-add">
            <a href="javascript:">添加</a>
        </div>
        <section class="liastre">
           <div class="liastre-cont">
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>状态</th>
                            <th>添加时间</th>
                            <th>描述</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        {foreach name="data" item="vo"}
                        <tr>
                            {if condition="$vo['status'] eq 0"}
                            <td>
                                <div class="red-circular"></div>
                                待分配
                            </td>
                            {else /}
                            <td>
                                <div class="green-circular"></div>
                                已分配
                            </td>
                            {/if}
                            <td>
                               {$vo.addtime|date="Y/m/d",###}
                            </td>
                            <td>
                                {$vo.issue}
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
           </div>
        </section>  
    </div>
    <div class="liastre-popup"  style="display: none">
        <div class="liastre-contect">
            <textarea maxlength="50" name="issue" id="issue" onkeyup="javascript:setShowLength(this, 50, 'liastre-sizes');"  placeholder="请在此输入状况，将为您安排专家。"></textarea>
            <span id="liastre-size"><font id="liastre-sizes">50</font>/50</span>
        </div>
    </div>
    {include file="../application/user/view/Index/footer.html"}

    <script>
        function setShowLength(obj, maxlength, id) 
        { 
            var rem = maxlength - obj.value.length; 
            var wid = id; 
            if (rem < 0){ 
                rem = 0; 
            } 
            document.getElementById(wid).innerHTML = "" + rem + ""; 
        }
         //我的近况
         $('.liastre-add').on('click', function(){
            layer.open({
                type: 1,
                area: ['640px', '300px'],
                skin: 'layer-liastre-popup',
                title: '填写我的近况',
                content: $('.liastre-popup'),
                btn: ['添加'],
                btn1:function(){
                    var issue = $("#issue").val();
                    if (issue == '') {
                        layer.msg('内容不能为空', {icon:2, time: 2000 });return;
                    }
                    var data = {'issue':issue}
                    $.ajax({
                        type: 'POST',
                        dataType: "json",
                        data: data,
                        url: "{:url('user/issueadd')}",
                        success: function(json) {
                            if (json.status == 0) {
                                layer.msg(json.info, {icon:1, time: 2000 });
                                window.location.href='';
                            }else{
                                layer.msg(json.info, {icon:2, time: 2000 });
                            }
                        }
                    })
                },
                end: function(){ 
                    $('.liastre-popup').hide();
                }
            });
        });
      
    </script>
</body>
</html>