
{if condition="in_array('News/index', session('auth'))"}
	<li class="menuDiv active" role="presentation">
    	<a class="menuTitle" href="{:Url('News/index')}">新闻列表</a>
	</li>
{/if}
{if condition="in_array('News/add', session('auth'))"}
	<li class="menuDiv" role="presentation">
	    <a class="menuTitle" href="{:Url('News/add')}">新闻添加</a>
	</li>
{/if}
{if condition="in_array('News/Category', session('auth'))"}
	<li class="menuDiv" role="presentation">
	    <a class="menuTitle" href="{:Url('News/Category')}">新闻类型</a>
	</li>
{/if}

