
{if condition="in_array('Hospital/index', session('auth'))"}
	<li class="menuDiv active" role="presentation">
    	<a class="menuTitle" href="{:Url('Hospital/index')}">医院列表</a>
	</li>
{/if}
{if condition="in_array('Hospital/add', session('auth'))"}
	<li class="menuDiv" role="presentation">
	    <a class="menuTitle" href="{:Url('Hospital/add')}">医院添加</a>
	</li>
{/if}
{if condition="in_array('Hospital/Hospital_type', session('auth'))"}
	<li class="menuDiv" role="presentation">
	    <a class="menuTitle" href="{:Url('Hospital/Hospital_type')}">医院类型</a>
	</li>
{/if}
{if condition="in_array('Hospital/add_type', session('auth'))"}
	<li class="menuDiv" role="presentation">
	    <a class="menuTitle" href="{:Url('Hospital/add_type')}">医院类型添加</a>
	</li>
{/if}
{if condition="in_array('Hospital/banner', session('auth'))"}
	<li class="menuDiv" role="presentation">
	    <a class="menuTitle" href="{:Url('Hospital/banner')}">轮播图</a>
	</li>
{/if}
{if condition="in_array('Hospital/banner_add', session('auth'))"}
	<li class="menuDiv" role="presentation">
	    <a class="menuTitle" href="{:Url('Hospital/banner_add')}">轮播图添加</a>
	</li>
{/if}