html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
:focus {
  outline: 1;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
nav,
ul,
li,
ol {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/* input {
  -webkit-appearance: none;
} */
button {
  outline: none;
  border: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}

html,body{
  /* height: 100%; */
  color: #363E46;
  background: #f2f3f5;
}
body,
input,
textarea,
select,samp {
  font-family: "Microsoft Yahei", Verdana, Geneva, sans-serif, tahoma, '\5b8b\4f53';
}
/* 主体部分 */
.home{
  background-color: #f2f3f5;
  font-size: 14px;
  width: 100%;
  min-height: 100%;
}
.banner{
  width: 1440px;
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  position: relative;
}

/* 登录弹窗 */
.layer-login .layui-layer-setwin{
    display: none
}
.logo-login-img{
  margin: 40px 0px 40px 162px;
}
.login-input{
  display: inline-block;
  margin-left: 40px;
  width: 340px;
  height: 50px;
  background: #F2F3F5;
  border-width: 0px;
  border-radius: 4px;
  font-size: 16px;

  color: #363E46;
  text-align: center;
}

.login-input::-webkit-input-placeholder{ 
  font-size: 16px; 
  color: rgba(107,114,136,.4);
  text-align: center;
}

.login-input:-moz-placeholder{ 
  font-size: 16px; 
  color: rgba(107,114,136,.4);
  text-align: center; 
}

.login-input::-moz-placeholder{ 
  font-size: 16px; 
  color: rgba(107,114,136,.4);
  text-align: center;
} 
.login-input:-ms-input-placeholder{ 
  font-size: 16px; 
  color: rgba(107,114,136,.4);
  text-align: center; 
}
.login-password{
  margin-top: 20px;
}
.error-tip{
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #D0021B;
}
.layer-login .layui-layer-btn{
    padding: 0;
   text-align: center;
   position: relative;
   bottom: 40px;
}
.layer-login .layui-layer-btn .layui-layer-btn0{
  width: 340px;
  height: 50px;
  font-size: 18px;
  color: #F2F3F5;
  background: #0183FF;
  border-radius: 4px;
  cursor: pointer;   
  text-align: center;
  height:50px;     
  line-height: 50px;   
}
/* 头部登录 退出按钮 */
.login-btn,.logout-btn{
  background: #0183FF;
  width: 80px;
  height: 30px;
  margin-top: 25px;
  float: right;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 14px;
  color: #FFFFFF;
  box-sizing: border-box;
  cursor: pointer;
}
.login-btn:hover,.logout-btn:hover{
  border-width: 0px;
  background-color: #fff;
  color: #0183FF; 
}
/*弹窗白色关闭 */
.close::before, .close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    border-radius: 5px;
}
.close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close.black::before, .close.black::after {
    height: 2px;
    margin-top: -1px;
}

/* 头部 */
.header{
  width: 100%;
  height: 80px;
  background: #0183FF;
  box-shadow: 0 4px 10px 0 rgba(21,23,82,0.30);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
.header .header-content{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.header .header-content img{
  margin-top: 25px;
}

/* 底部 */
.footer-copy{
    background: url('../imgs/footer.png') no-repeat center;
    width: 100%;
    height: 117px;
    background-size: cover;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    
}
.footer-copy .footer-text{
  width: 100%;
  height: 34px;
  color: rgba(54,62,70,.7);

  font-size: 12px;
  text-align: center;
  line-height: 17px;
  padding-top: 29px;
  box-sizing: border-box;
}

/* 头部导航 */
.navigation{
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 100px;
}
.navigation-li{
  float: left;
  /* display: inline-block; */

  font-size: 14px;
  color: rgba(255, 255, 255, .8);
  height: 20px;
  line-height: 20px;
  padding: 0px 20px;
  cursor: pointer;
}
.navigation-li:hover{
  color: rgba(255,255,255,1);
}

/* 时间插件 */
.check-date {
  /* display: none; */
  font-size: 0px;
  text-align: center;
  margin: 20px 0 114px 0;
}
.check-date .Wdate{
  display: inline-block;
  width: 100px;
  height: 28px;
  color: rgba(54,62,70,.8);
  background: #FFFFFF;
  border-radius: 4px;
  border-width: 0px; 
  cursor: pointer;
  vertical-align: top;
  margin-right: 8px;
  text-align: center;
  font-size: 12px;
}
.check-date .layui-input{
    background: #FFFFFF;
    border-radius: 4px;
    width: 100px;
    height: 28px;
    border:0;
    font-size: 12px;
    color: #363E46;
    text-align: center;
    position: relative;
    bottom: 5px;
    margin-right: 10px;
    line-height: 28px;
}
.check-date .arrow{
  display: inline-block;
  width: 28px;
  height: 28px;
  background: #fff;
  border-radius: 4px;
  padding-top: 10px;
  margin-right: 8px;
  cursor: pointer;
}

 /*滚动条样式*/
 .scroll::-webkit-scrollbar {/*滚动条整体样式*/
  width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
  margin-right: 10px;
}
.scroll::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #c1c1c1;
}
.scroll::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  background: #f2f3f5;
}



/* 圆点 */
.green-circular,.gray-circular,.red-circular{
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 4px;
  margin-left: 20px;
  border-radius: 50%;
}
.green-circular{
  background: #02C873;
}
.gray-circular{
  background: #CCCCCC;
}
.red-circular{
  width: 10px;
  height: 10px;
  background: #FA041C;
}

/* 按钮 */
.choose-btn{
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #F2F3F5;
  border-radius: 4px;

  font-size: 12px;
  color: #363E46;
  margin-right: 20px;
  cursor: pointer;
}
.choose-btn:hover{
  background: #0183FF;
  color: #fff;
}
/*图片按钮*/
.common-icon{
    background: url('../imgs/common-icon.png') no-repeat;
    display: block;
}
.message-fail-red{
    background-position: 0 0;
    width: 14px;
    height: 14px;
}
.message-fail-white{
    background-position: -22px 0;
    width: 14px;
    height: 14px;
}
.work-force-del{
    width: 30px;
    height: 30px;
    background-position: -46px 0;
}
.work-force-add{
    width: 30px;
    height: 30px;
    background-position: -87px 0;
}
.hospital-login-user{
    width: 20px;
    height: 20px;
    background-position: -132px 0;
}
.hospital-login-pwd{
    width: 20px;
    height: 20px;
    background-position: -162px 0;
}
.hospital-login-enter{
    width: 20px;
    height: 16px;
    background-position:  0 -23px;
}
.export-pmanage-search{
    width: 20px;
    height: 20px;
    background-position: 0 -48px;
}
/*大图展示*/
/* 大图 */
.big-bingli-img{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
}

.big-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 12px;
    background: #fff;
}
/*翻页*/
#pagination{
    text-align: center;
    width: 200px;
    margin:0 auto;
    height: 30px;
}
#pagination ul{
    text-align: center;
   
}

#pagination ul li span,#pagination ul li a{
    background: #FFFFFF;
    border-radius: 4px;
    padding: 8px 10px;
    margin:0 5px;
    text-align: center;
    float: left;
}
#pagination ul li a{
    font-size: 12px;
   color: #666666;
}
#pagination ul li.active a,#pagination ul li.active span{
    background: rgb(1, 131, 255);
    color: #fff;
}