.header img{
    margin-top: 25px;
}

/* 内容 */
.container{
    width: 1200px;
    height: 100%;
    margin: 20px auto 0;
    padding: 80px 0 117px 0;
    background: #f2f3f5;
    /* margin-top: 20px; */
    position: relative;
    font-size: 0px;
}
/*专家-排班管理*/
.work-force{
    width: 1200px;
    height: auto;
    background: #fff;
}
.work-force h2{
    font-size: 16px;
    color: #363E46;
    line-height: 16px;
    border-bottom:1px solid #E7E9EC;
    height: 55px;
    line-height: 55px;
    text-align: center;
}
.work-force .work-shift{
    width: 376px;
    margin:0 auto;
    font-size: 12px;
}
.work-force .work-shift span,.work-force .rest-time .head span{
    width: 116px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
.work-force .work-shift .head span,.work-force .rest-time .head span{
    color: #979b9f;
    margin:12px 0;
    font-size: 12px;
}
.work-force .work-shift .head span:nth-child(2),.work-force .work-shift ul li span:nth-child(2),.work-force .rest-time .head span:nth-child(2){
    margin: 0 10px;
}
.work-force .work-shift ul li,.work-force .rest-time ul li{
    margin-bottom: 20px;
}
.work-force .work-shift ul li span{
    background: #F2F3F5;
    border-radius: 4px;
}
.work-force .work-shift a{
    border: 1px solid #0183FF;
    border-radius: 4px;
    width:80px;
    height: 30px;
    font-size: 12px;
    color: #0183FF;
    text-align: center;
    line-height: 28px;
    display: inline-block;
    margin:20px auto 40px auto;
}
.work-force .work-shift .submit-btn,.work-force .rest-time .submit-btn,.personal-info .personal-user .submit-btn{
    text-align: center;
}
.work-force .work-shift a:hover{
    background: #0183FF;
    color: #fff;
}
.work-force .rest-time{
    width: 410px;
    margin:0 auto;
}
.work-force .rest-time ul li select {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    width: 116px;
    height: 30px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../imgs/select-arrow.png") no-repeat scroll 95px center transparent;
    margin-right: 10px;
    font-size: 12px;
    color: #363E46;
    text-indent: 10px;
    cursor: pointer;
}
.work-force .rest-time ul li i{
    cursor: pointer;
}
.work-force .rest-time ul li:last-child{
    margin-bottom: 0;
}
.work-force .rest-time ul li select::-ms-expand {
    display: none;
}
.work-force .rest-time .rest-time-add{
    margin-top: 10px;
    cursor: pointer;
}
.work-force .rest-time a,.personal-info .personal-user .submit-btn a{
    border-radius: 4px;
    width:80px;
    height: 30px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 28px;
    display: inline-block;
    margin:20px auto 40px auto;
    background: #0183FF;
}
.work-force .rest-time a:hover,.personal-info .personal-user .submit-btn a:hover{
    background: #fff;
    color:#0183FF;
    border:1px solid #0183FF;
}


/* 专家-个人信息 */
/*专家  个人信息*/
.personal-info{
    width: 1200px;
    height: auto;
    background: #fff;
}
.personal-info h2{
    font-size: 16px;
    color: #363E46;
    line-height: 16px;
    border-bottom:1px solid #E7E9EC;
    height: 55px;
    line-height: 55px;
    text-align: center;
}
.personal-info .personal-user{
    width: 500px;
    margin: 0 auto;
}
.personal-info .personal-user .user-pic{
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.personal-info .personal-user .user-pic #camera{
    font-size: 100px;
    opacity: 0;
    width: 100px;
    height: 100px;
    position: absolute;
    display:block;
    margin-left: 200px;
}
.personal-info .personal-user .user-pic img{
    width: 100px;
    height: 100px;
}
.personal-info .personal-user .user-pic .title{
    color: #363E46;;
    font-size: 12px;
    display: inline-block;
}
.personal-info .personal-user .base-info{
    margin-top: 20px;
    position: relative;
}
.personal-info .personal-user .base-info span{
    display: inline-block;
    font-size: 14px;
    color: #363E46;
    opacity: 0.8;
    line-height: 40px;
    height: 44px;
    width: 70px;
    text-align: right;
    position: relative;
    top:5px;
}
.personal-info .personal-user .base-info span.base-jianjie{
    top:-145px;
}
.personal-info .personal-user .base-info #zhuanchang{
    font-size: 14px;
    color: #5d646a;
    position: absolute;
    right: 20px;
    top: 18px;
}
.personal-info .personal-user .base-info #base-jian{
    font-size: 14px;
    color: #5d646a;
    position: absolute;
    right: 20px;
    bottom:30px;
}
.personal-info .personal-user .base-info input[type="text"]{
    width: 400px;
    height: 38px;
    background: #F2F3F5;
    border-radius: 4px;
    font-size: 14px;
    color: #363E46;
    border:0;
    margin-left: 20px;
    text-indent: 10px;
    line-height: 38px;
    border: 1px solid #F2F3F5;
}
.personal-info .personal-user .base-info input[type="text"]:hover,.personal-info .personal-user .base-info textarea:hover{
    border-color:#0183FF;
    background: #fff;
}
.personal-info .personal-user .base-info textarea{
    background: #F2F3F5;
    border-radius: 4px;
    width: 400px;
    height: 160px;
    margin-left: 20px;
    font-size: 14px;
    color: #363E46;
    border:0;
    padding: 10px;
    border: 1px solid #F2F3F5;
}
.personal-info .personal-user .sex{
    font-size: 12px;
    color: #151752;
    display: inline-block;
}
.personal-info .personal-user .sex .male{
    margin-left: 15px;
    position: relative;
    top:5px;
}
.personal-info .personal-user .sex .female{
    margin-left: 35px;
    position: relative;
    top:5px;
}
.personal-info .personal-user .sex .male span,.personal-info .personal-user .sex .female span{
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    top: -1px;
}

.personal-info .personal-user .sex input[type="radio"]{
    margin-right: 8px;
    opacity: 0;
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 3px;
    left: 2px;
}
.personal-info .personal-user .sex label{
    position: absolute;
    left: 5px;
    top: 12px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    right: 10px;
}
.personal-info .personal-user .sex input[type="radio"]:checked+label { 
    background: #FFFFFF;
    border: 1px solid #0183FF;
}
.personal-info .personal-user .sex input[type="radio"]:checked+label::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    top: 3px;
    left: 3px;
    border-top: none;
    border-left: none; 
    background: #0183FF;
    border-radius: 3px;
    transform: rotate(45deg);
}
.personal-info .personal-user .submit-btn a{
    margin-bottom: 20px;
    margin-top: 0;
}

