<header class="header">
    <div class="header-content">
        <img src="__PUBLIC__/imgs/home-logo.png" onclick="window.location.href = '/'" alt="logo">
        <ul class="navigation">
            {if condition="$eid neq 0"} 
            <li class="navigation-li{if condition="$currentPri ==  'User/expert'"} on{/if}"><a href="{:url('user/expert')}">我的专家</a></li>
            {/if}
            <li class="navigation-li{if condition="$currentPri ==  'User/plan'"} on{/if}"><a href="{:url('user/plan')}">我的治疗</a></li>
            <li class="navigation-li{if condition="$currentPri ==  'User/issue'"} on{/if}"><a href="{:url('user/issue')}">我的近况</a></li>
            <li class="navigation-li{if condition="$currentPri ==  'User/comeback'"} on{/if}"><a href="{:url('user/comeback')}">我的回访</a></li>
            <li class="navigation-li{if condition="$currentPri ==  'User/history'"} on{/if}"><a href="{:url('user/history')}">查看病例</a></li>
            <li class="navigation-li{if condition="$currentPri ==  'User/index'"} on{/if}"><a href="{:url('user/index')}">我的信息</a></li>
        </ul>
        <button class="logout-btn">退出</button>
    </div>
</header>
<script type="text/javascript" src="__PUBLIC__/js/plugins/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/layui/layui.all.js"></script>
<script type="text/javascript">
    $('.logout-btn').on('click', function() {
        $.ajax({
            type: 'POST',
            dataType: "json",
            url: "{:url('index/logout')}",
            success: function(json) {
                window.location.href = "/";
            }
        })
    })

</script>