<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pagination.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css"/>
</head>
<body>
    <div class="home">
        <div class="banner">
            <header class="home-header">
                <div class="home-header-content">
                    <img src="__PUBLIC__/imgs/home-logo.png" alt="logo">
                    <button class="login-btn">登录</button>
                </div>
                <!-- 登录 -->
                <div class="login" style="display: none">
                    <img src="__PUBLIC__/imgs/logo-login.png" class="logo-login-img" alt="logo">
                    <input type="text" name="name" class="login-account login-input" placeholder="请输入患者账号/专家账号">
                    <input type="password" name="password" class="login-password login-input" placeholder="请输入密码">
                    <span class="error-tip">账号或密码错误，请重新输入。</span>
            
                </div>
            </header>
            <!-- 导航 -->
            <ul class="nav">
                <li class="category {if condition="$catid == 0"} on {/if}" data="0"  >
                    <i></i>
                    <span>全部资讯</span>
                </li>
                {foreach name="category" item="v"}
                <li class="category {if condition="$catid == $v['catid']"} on {/if}" data="{$v['catid']}">
                    <i></i>
                    <span>{$v.catename}</span>
                </li>
                {/foreach}
               
            </ul>
            <!-- 内容 -->
            <div class="container index">
                <!-- 导航内容 -->
                <div class="content">
                    {foreach name="data" item="vo"}
                        <a href="/news/{$vo['id']}.html" target="_blank" class="content-a">
                            <span class="classify">{$vo.catename} · {$vo.add_time|date="Y/m/d",###}</span>
                            <div class="tips">
                                <span class="tips-card">{$vo.author}</span>
                            </div>
                            <span class="content-title">{$vo.title}</span>
                            <span class="content-text">{$vo.introduce}</span>
                        </a>
                    {/foreach}
                   
                </div>

                <!-- 分页 -->
                <div id="pagination">{$page}</div>

                
            </div>
            {include file="../application/user/view/Index/footer.html"}
        </div>
    </div>
    <script type="text/javascript" src="__PUBLIC__/js/plugins/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/layui/layui.all.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/plugins/pagination.min.js"></script>

    <script>
        $(function(){
            $('.category').on('click', function(){
                var catid = $(this).attr('data')
                window.location.href = '/index/index.html?catid='+catid;
            })
            $('.error-tip').hide();
            // 登录弹框
            $('.login-btn').on('click', function(){
                var index=layer.open({
                    type: 1,
                    area: ['420px', '450px'],
                    skin: 'layer-login',
                    title: false,
                    shadeClose : true, // 点击遮罩关闭层
                    content: $('.login'),
                    btn: ['登录'],
                    btn1: function(){ 
                        $('.error-tip').hide()
                        var name = $(":input[name='name']").val();
                        var password = $(":input[name='password']").val();
                        var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/; 
                        if(reg.test(name) === false) { 
                            url = '//experts.hospital.com/index/login';
                        }else{
                            url = "{:url('login')}";
                        }
                        $.ajax({
                            url: url,
                            type: 'post',
                            data: {name:name,password:password},
                            dataType: 'json',
                            success:function(json){
                                if (json.code == 0) {
                                    $('.error-tip').html(json.msg)
                                    $('.error-tip').show()
                                }else{
                                    $('.login').hide();
                                    layer.close(index);
                                    if (url == '//experts.hospital.com/index/login.html') {
                                        window.location.href="//experts.hospital.com/experts/index.html";
                                        return;
                                    }
                                    window.location.href="{:url('user/index')}";
                                }
                            }
                        });
                        
                    },
                    end :function(){
                        $('.login').hide();
                        layer.close(index);
                    }
                });
            });
        })
    
    </script>
</body>
</html>