<!DOCTYPE html>
<html lang="en">
<head>
    <title>特牛对战平台-Steam账号<?php echo $return['code'] == 1 ? '绑定成功' : '绑定失败'; ?></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/Public/front/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/Public/front/css/te6_style.css"/>
</head>
<body>
    <div class="te6_sucDiv">
        <?php
            if ($return['code'] == 1) {
        ?>
        <div class="te6_scTs">
            <i class="te6_scImg"></i>
            <p class="te6_scTxt">绑定成功</p>
            <small class="te6_scSmall">快去报名比赛吧~</small>
        </div>
        <?php
            } else {
        ?>
        <div class="te6_scTs">
            <p class="te6_scTxt">绑定失败</p>
            <small class="te6_scSmall"><?php echo $return['message']; ?></small>
        </div>
        <?php
            }
        ?>
    </div>
</body>
</html>